.table{
    width: 100%;
    
    tr{
        height: 35px;
        border-bottom: 1px solid black;
        &:nth-child(even){
            background-color: #696969;
        }
        th{
            // text-align: start;
        }
    }
    &__content{
        &-title{
            text-align: start;
        }
        &-index{
            width: 10px;
        }
        &-name{
            text-align: start;
        }
        &-oprions{
            width: 10px;
        }
    }
}

.dots{
                align-self: center;
                font-size: 30px;
                text-align: center;
                &:hover{
                    cursor: pointer;
                }
            }