.create{
    width: fit-content;
    margin: 5px 40px;
    display: flex;
    flex-flow: column wrap;
    h1{
        margin-bottom: 2px;
        margin-left: 20px;
    }
    &__input{
        background-color: inherit;
        display: flex;
        flex-wrap: wrap;
        width: 500px;
        padding: 7px 2px;
        border: 0;
        outline: none;
        resize :none;
        font-size: 20px;
        font-weight: 500;
        flex: 20;
        &::placeholder{
            font-size: 20px;
            color: rgba(203, 202, 165, 0.36);
        }
    }
    &__submit{
        align-self: center;
        margin: 10px;
        font-size: 24px;
        font-weight: 700;
        background-color: #d6d6d6;
    }
}